.container {
  position: relative;
  margin-bottom: 1.5rem;
}

.container pre {
  margin-bottom: 0;
}

.label {
  position: absolute;
  top: 0.5rem;
  right: 2.5rem;
  font-size: 10px;
  font-family: var(--font-mono);
  color: var(--color-text-tertiary);
  user-select: none;
}
